@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* header */
.header {
  --pink: #ed3c6d;
  --light-pink: #f490a0;
  --green: #47e77a;
  --light-green: #e1ffda;
  --blue: #0992f9;
  --black: #000000;
  --grey: #999999;
  --light-grey: #bcbcbc;
  --white: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ff5191;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 16px 32px -2px #ff005d;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_span {
  color: white;
  font-weight: bolder;
  font-size: xx-large;
  text-align: center;
  margin-left: 25px;
  font-family: "Roboto", sans-serif;
}

.header_navigation_div {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-right: 40px;
}
.header_btn {
  transition-duration: 0.3s;
  color: var(--white);
  width: 80px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 35px;
  text-align: center;
  border: none;
  background: none;
}
.header_btn:hover,
.header_btn:focus {
  cursor: pointer;
  text-decoration: underline;
  color: var(--grey);
}

/* projects */
.project {
  border-radius: 8px;
  height: 150px;
  border: 1px solid #000000;
  width: 250px;
  margin-left: 100px;
  margin-top: 50px;
}

.img {
  max-width: 250px;
  height: 150px;
  border-radius: 8px;
}
